.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 20px;
    margin-left: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    width: 280px;
  }
  
  .display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.5em;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .buttons-calculator {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
  }
  
  .operator {
    background-color: #f0ad4e;
    color: #fff;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  button:active {
    transform: scale(0.95);
  }

  .buttons-calculator:hover {
    background-color: #ddd;
  }
  
  .operator:hover {
    background-color: #e6952f;
  }
  #clear{
    background-color: lightcoral;
  }